<label for="search">Search songs:</label>
<form (ngSubmit)="onSearch(searchQuery)">
    <input
        id="search"
        type="text"
        placeholder="Name of song"
        [(ngModel)]="searchQuery"
        name="search"
        minlength="3"
        #searchInput="ngModel"
        aria-describedby="search-error"
        autocomplete="off"
    >

    <button type="submit" [disabled]="searchInput.invalid">Search</button>
</form>

<div id="search-error" *ngIf="searchInput.invalid && searchInput.touched">
  Minimum 3 characters required
</div>