<div class="search-bar-container">
  <label for="search">Search songs:</label>
  <form (ngSubmit)="onSearch(searchQuery)" class="search-form">
    <input
      id="search"
      type="text"
      placeholder="Name of song"
      [(ngModel)]="searchQuery"
      name="search"
      minlength="3"
      #searchInput="ngModel"
      aria-describedby="search-error"
      [attr.aria-invalid]="searchInput.invalid && searchInput.dirty"
      autocomplete="off"
    />

    <button type="submit" [disabled]="searchInput.invalid">Search</button>
  </form>

  <div id="search-error" *ngIf="searchInput.invalid && searchInput.dirty">
    Minimum 3 characters required
  </div>
</div>
