<div class="app-container">
  <h1>MusicBoxd 🎵</h1>

  <!-- Search Form-->
  <app-search-form 
    (search)="onSearch($event)"
    (showPopular)="onShowPopular()"
  ></app-search-form>

  <!-- LOADING -->
  <div *ngIf="songService.loading()" class="loading-container">
    <div class="spinner"></div>
    <p>Loading songs...</p>
  </div>

  <!-- ERROR -->
  <div *ngIf="!songService.loading() && songService.error()" class="error-container">
    <p>{{ songService.error() }}</p>
    <button (click)="retry()">Retry</button>
  </div>

  <!-- Songs -->
  <app-songs-list
    *ngIf="!songService.loading() && !songService.error()" [songs]="songService.songs()">
  </app-songs-list>
</div>