<div class="search-bar-container">
  <label for="search">Search songs:</label>

  <!-- SEARCH FORM -->
  <div class="search-form">
    <input
      id="search"
      type="text"
      placeholder="Name of song"
      [formControl]="searchTerm"
      autocomplete="off"
      aria-describedby="search-error"
      [attr.aria-invalid]="searchTerm.invalid && searchTerm.dirty"
      (keydown.escape)="clearButton?.click()"
    />

    <button
      #clearButton
      type="button"
      class="clear-button"
      *ngIf="searchTerm.value?.trim()"
      (click)="searchTerm.reset()"
    >
      ✕
    </button>
  </div>

  <!-- Async validation state -->
  <p *ngIf="searchTerm.pending" class="validating">Validating...</p>

  <!-- Errors and validating -->
  <div
    *ngIf="searchTerm.dirty && searchTerm.invalid && !searchTerm.pending"
    id="search-error"
    aria-live="polite"
  >
    <p *ngIf="searchTerm.errors?.['minlength']">
      Minimum 2 characters required
    </p>

    <p *ngIf="searchTerm.errors?.['maxlength']">
      Maximum 50 characters allowed
    </p>

    <p *ngIf="searchTerm.errors?.['noResults']">No results found</p>
  </div>

  <!-- POPULAR BUTTON-->
  <button type="button" class="popular-button" (click)="onPopularClick()">
    {{ isPopularActive ? "All Songs" : "Popular Songs" }}
  </button>
</div>
