/* ===== GLOBAL THEME ===== */

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;

  /* Dark background */
  background-color: var(--background);

  /* Default text color */
  color: var(--text-color);
}

:root {
  --primary: #4b0abc; /* main accent color (branding) */
  --primary-hover: #43119b;
  --background: #323232;
  --card-bg: #1e1e1e;
  --border: #2a2a2a;
  --text-color: #eaeaea;
  --text-secondary: #a1a1aa;
  --error: #8d3535;
}

/* Spacing and layout */
.app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}
